<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.0/phpunit.xsd"
    backupGlobals="false"
    colors="true"
    bootstrap="vendor/autoload.php"
    convertErrorsToExceptions="false"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Domain model">
            <directory>./domain/tests/</directory>
        </testsuite>
        <testsuite name="Event store">
            <directory>./event-store/tests/</directory>
        </testsuite>
        <testsuite name="Goat bridge">
            <directory>./bridge-goat/tests/</directory>
        </testsuite>
        <testsuite name="Snapshot store">
            <directory>./snaphost-store/tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>./bridge-goat/src</directory>
            <directory>./bridge-symfony/src</directory>
            <directory>./domain/src</directory>
            <directory>./event-store/src</directory>
            <directory>./snaphost-store/src</directory>
            <exclude>
                <directory>./bridge-goat/tests</directory>
                <directory>./bridge-symfony/tests</directory>
                <directory>./domain/tests</directory>
                <directory>./event-store/tests</directory>
                <directory>./snaphost-store/tests</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <!-- Goat configuration - Those variables come from the original Goat unit test suite -->
        <env name="EXT_PGSQL_DSN" value="ext_pgsql://192.168.57.102/gtd" />
        <env name="EXT_PGSQL_PASSWORD" value="gtd" />
        <env name="EXT_PGSQL_USERNAME" value="gtd" />
        <env name="PDO_MYSQL_DSN" value="pdo_mysql://localhost/momm" />
        <env name="PDO_MYSQL_PASSWORD" value="momm" />
        <env name="PDO_MYSQL_USERNAME" value="momm" />
        <env name="PDO_PGSQL_DSN" value="pdo_pgsql://192.168.57.102/gtd" />
        <env name="PDO_PGSQL_PASSWORD" value="gtd" />
        <env name="PDO_PGSQL_USERNAME" value="gtd" />
    </php>
</phpunit>
